{
  "classification": "equipment",
  "hide": false,
  "name": "${assetId}",
  "parent": "/asset/ELOUABT6",
  "target": "/tank/${assetId}",
  "tree": "Rosneft > Downstream > OAO Saratovskiy NPZ > ELOU-ABT-6 > Pech nagreva ${assetId}",
  "uri": "/asset/${assetId}"
}