{
  "messageId": "${msgId}",
  "messageOriginTs": "${ts}",
  "body": [
    {
      "tag": "${name}",
      "dataPoints": [
        {
          "ts" : "${ts}",
          "val" : "${val}",
          "qual" : "${qual}"
        }
      ],
      "attributes":{
        "unit": "${unit}",
        "subQuality": null
      }
    }
  ],
  "tags":{
    "version": "1.0.0",
    "messageType": "TIME_SERIES"
  }
}
